doctype html
html(lang="en", ng-app="vyv")
  head
    meta(charset="utf-8")
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js")
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css")

    script(src="/javascripts/select.js")
    link(rel="stylesheet", href="/stylesheets/select.css")

    script(src="/javascripts/vyv.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .page-heade
        h1.text-center V
            u alue Your Vote
            | s
            .small For a Better Tomorrow
        br
    block content
