doctype html
html(lang="en", ng-app="vyv")
  head
    meta(charset="utf-8")
    meta(name='description', content='Value your votes provides best way to search the candiates contesting elections from your or near your area')
    meta(name='keywords', content='Politicians Profiles, Indian Politician Profiles, India future leaders, Value your votes, For a better tomorrow')
    title=Value Your Votes
    meta(property='og:url', content='https://valueyourvotes.com/')
    meta(property='og:locale', content='en_US')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js")
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css")

    script(src="/javascripts/select.js")
    link(rel="stylesheet", href="/stylesheets/select.css")

    script(src="/javascripts/vyv.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href="#") >Y<
            p.navbar-text.navbar-right Copyright at 
                a(href="mailto:valueyourvotes@gmail.com")
                    |valueyourvotes@gmail.com
                |  2016-
    .page-heade
        h1.text-center V
            u alue Your Vote
            | s
            .small For a Better Tomorrow
        br
    block content
