extends layout
block content
    div(ng-controller="listCtrl")
        .panel.panel-default
            .panel-body
                form
                    .form-group.col-sm-3.col-md-2
                        label Select by City {{selectedCity.city}}
                        ui-select(ng-model="city.selected")
                          ui-select-match
                              span(ng-bind="$select.selected.city")
                          ui-select-choices(repeat="item in (cities | filter: $select.search) track by item.id")
                              span(ng-bind="item.city")

                    .form-group.col-sm-4.col-md-3
                        label Select by Ward {{selectedWard.ward}}
                        ui-select(ng-model="ward.selected")
                          ui-select-match
                              span(ng-bind="$select.selected.ward")
                          ui-select-choices(repeat="item in (wards | filter: $select.search) track by item.id")
                              span(ng-bind="item.ward")

                    .form-group.col-sm-3.col-md-2
                        label Select by Party {{selectedParty.party}}
                        ui-select(ng-model="party.selected")
                          ui-select-match
                              span(ng-bind="$select.selected.party")
                          ui-select-choices(repeat="item in (parties | filter: $select.search) track by item.id")
                              span(ng-bind="item.party")

                    .form-group.col-sm-4.col-md-3
                        label Select by Candidate {{selectedName.name}}
                        ui-select(ng-model="name.selected")
                          ui-select-match
                              span(ng-bind="$select.selected.name")
                          ui-select-choices(repeat="item in (names | filter: $select.search) track by item.id")
                              span(ng-bind="item.name")

                    .form-group.col-sm-3.col-md-2
                        br
                        div.text-center
                            a.button.btn.btn-primary(ng-click="showAll()") Show All

        .panel.panel-default
            .panel-body
                p.text-center
                    | Showing
                    strong  {{selCnt}}
                    |  /
                    strong  {{totCnt}}
                    |  results for
                    b  {{msgcity}},
                    b  {{msgward}},
                    b  {{msgparty}},
                    |  and
                    b  {{msgname}}



        div(ng-repeat="p in profiles")
            div(ng-if="$index % 4 === 0")
                .clearfix.visible-md.visible-lg
            div(ng-if="$index % 3 === 0")
                .clearfix.visible-sm
            .col-sm-4.col-md-3
                .thumbnail
                    div(ng-if="p.Profile")
                        a(href="/profiles/details?id={{p.Id}}")
                            div(ng-if="p.Photo && p.Photo.length > 0")
                                img.img-thumbnail.center-block(src="images/{{p.Photo}}", height=140)
                            div(ng-if="!(p.Photo && p.Photo.length > 0)")
                                img.img-thumbnail.center-block(src="images/male.jpg", height=140, ng-if="p.Sex == 1")
                                img.img-thumbnail.center-block(src="images/female.jpg", height=140, ng-if="p.Sex == 0")
                    div(ng-if="!p.Profile")
                        div(ng-if="p.Photo && p.Photo.length > 0")
                            img.img-thumbnail.center-block(src="images/{{p.Photo}}", height=140)
                        div(ng-if="!(p.Photo && p.Photo.length > 0)")
                            img.img-thumbnail.center-block(src="images/male.jpg", height=140, ng-if="p.Sex == 1")
                            img.img-thumbnail.center-block(src="images/female.jpg", height=140, ng-if="p.Sex == 0")
                    .caption.text-center
                        p
                            strong
                                {{p.Name}}
                    h5
                        b Election:
                        |  {{p.Election}}
                    h5
                        b City:
                        |  {{p.City}}
                    h5
                        b Ward:
                        |  {{p.Ward}}
                    h5
                        b DoB:

                        |  {{p.DoB}}
                    h5
                        b Party:
                        |  {{p.Party}}
                    h5
                        b Phone:
                        |  {{p.Phone}}

                    //h5
                        b History:
                        ul
                            div(ng-repeat="(key, value) in p.history")
                                li
                                    b {{key}}:
                                    | {{value}}

                    h5
                        a.btn.btn-primary(href="/profiles/details?id={{p.Id}}", role="button", ng-if="p.Profile") Profile Details
                        a.btn.btn-primary(href="#", role="button", ng-if="!p.Profile", disabled="disabled") Profile Details
                    hr
                    a.btn.btn-default(target="_blank", href="{{p.Facebook}}", role="button", ng-if="p.Facebook")
                        | Facebook 
                    a.btn.btn-default(target="_blank", href="", role="button", ng-if="p.Twitter")
                        | Twitter 
                    a.btn.btn-default(target="_blank", href="{{p.Website}}", role="button", ng-if="p.Website")
                        | Website 
                    a.btn.btn-default(target="_blank", disabled="disabled", href="{{p.Facebook}}", role="button", ng-if="!p.Facebook")
                        | Facebook 
                    a.btn.btn-default(target="_blank", disabled="disabled", href="", role="button", ng-if="!p.Twitter")
                        | Twitter 
                    a.btn.btn-default(target="_blank", disabled="disabled", href="{{p.Website}}", role="button", ng-if="!p.Website")
                        | Website 



        .clearfix
        .panel.panel-default
            .panel-body
                p.text-center
                    strong
                        | Please write to us at valueyourvotes@gmail.com to
                        |  add your profile to the database.
        .panel.panel-default
            .panel-body
                p.text-center
                    |  All Rights Reserved.
                    br
                    |  Copyright @ ValueYourVotes.com 2016-
